@import "bootstrap";
@import "bootstrap-sprockets";
@import "product";
@import "home";
@import "product";


@import "menu";
.form-body {
  padding: 20px;
  border: 1px solid #eee;
}

.body {
  overflow-y: auto; /* 允许垂直滚动 */
}